{% extends '../base.twig' %}
{% block style %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header text-center">
            <h2 class="text-center">Upraviť podujatie</h2>
        </div>
        <div class="card-body">
            <form action="/admin/events/edit/{{ event.id }}" method="post">
                <div class="form-group">
                    <label for="name">Názov podujatia</label>
                    <input class="form-control" id="name" type="text" name="name" value="{{ event.name }}"
                           required="required">
                </div>
                <div class="form-group">
                    <label for="description">Popis</label>
                    <textarea class="form-control" id="description"
                              name="description">{{ event.description }}</textarea>
                </div>
                <div class="form-group">
                    <label for="type">Typ podujatia</label>
                    <select class="form-control select2" name="type" required="required">
                        {% for type in types %}
                            <option value="{{ type.id }}" {% if event.type == type.id %}selected="selected"{% endif %}>{{ type.type }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="date">Dátum</label>
                    <input class="form-control" id="date" type="text" name="date" value="{{ event.date }}"
                           required="required">
                </div>
                <div class="form-group">
                    <label for="region">Región</label>
                    <select class="form-control select2" name="region" required="required">
                        {% for region in regions %}
                            <option value="{{ region.id }}" {% if event.region == region.id %}selected="selected"{% endif %}>{{ region.region }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="type">Miesto</label>
                    <select class="form-control select2" name="place" id="place">
                        {% for place in places %}
                            <option value="{{ place.id }}" {% if event.place == place.id %}selected="selected"{% endif %}>{{ place.street }} {{ place.number }}, {{ place.city }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-grid gap-2 d-flex justify-content-end">
                    <button class="btn btn-primary mt-2 float-right" type="submit">Uložiť</button>
                </div>
            </form>
        </div>
        <div id='calendar'></div>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"
            integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                theme: 'bootstrap-5'
            });
            $('#description').summernote({
                tabsize: 2,
                height: 100
            });
            $('#date').daterangepicker(
                {
                    autoApply: false,
                    singleDatePicker: true,
                    timePicker: true,
                    startDate: new Date(),
                    timePickerIncrement: 15,
                    timePicker24Hour: true,
                    autoUpdateInput: false,
                    locale: {format: 'YYYY-MM-DD HH:mm:ss'}
                }, function (start, end, label) {
                    if (start.isValid()) {
                        $('#date').val(start.format('YYYY-MM-DD HH:mm:ss'));
                    } else {
                        $('#date').val('');
                    }
                })
        })
    </script>
{% endblock %}
