{% extends '../base.twig' %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
{% endblock %}
{% block content %}
    <h2>Podujatia</h2>
    <div class="d-grid gap-2 d-flex justify-content-end">
        <a href="/admin/events/add" type="button" class="btn btn-outline-success float-right">Pridať</a>
    </div>
    <div class="mt-4">
        <table id="table_events" class="display">
            <thead>
            <tr>
                <th>ID</th>
                <th>Názov</th>
                <th>Popis</th>
                <th>Typ</th>
                <th>Dátum</th>
                <th>Akcie</th>
            </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.id }}</td>
                        <td>{{ event.name }}</td>
                        <td>{{ event.description|truncate(20) }}</td>
                        <td>{{ event.type }}</td>
                        <td>{{ event.date.toLocaleString('sk-SK')}}</td>
                        <td>
                            <a href="/admin/events/edit/{{ event.id }}" class="btn btn-primary">Upraviť</a>
                            <a href="/admin/events/remove/{{ event.id }}" class="btn btn-danger">Zmazať</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script>
        let table = new DataTable('#table_events', {
            responsive: true
        });
    </script>
{% endblock %}
