{% extends '../base.twig' %}
{% block content %}
    <div class="card">
        <div class="card-header text-center">
            <h2 class="text-center">Upraviť typ podujatia</h2>
        </div>
        <div class="card-body">
            <form action="/admin/event/types/edit/{{ eventType.id }}" method="post">
                <div class="form-group">
                    <label for="type">Typ podujatia</label>
                    <input class="form-control" id="type" type="text" name="type" value="{{ eventType.type }}"
                           required="required">
                </div>
                <div class="d-grid gap-2 d-flex justify-content-end">
                    <button class="btn btn-primary mt-2 float-right" type="submit">Uložiť</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
