{% extends '../base.twig' %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
{% endblock %}
{% block content %}
    <h2>Typy podujatí</h2>
    <div class="d-grid gap-2 d-flex justify-content-end">
        <a href="/admin/event/types/add" type="button" class="btn btn-outline-success float-right">Pridať</a>
    </div>
    <div class="mt-4">
        <table id="table_event_types" class="display">
            <thead>
            <tr>
                <th>ID</th>
                <th>Typ</th>
                <th>Akcie</th>
            </tr>
            </thead>
            <tbody>
            {% for eventType in eventTypes %}
                <tr>
                    <td>{{ eventType.id }}</td>
                    <td>{{ eventType.type }}</td>
                    <td>
                        <a href="/admin/event/types/edit/{{ eventType.id }}" class="btn btn-primary">Upraviť</a>
                        <a href="/admin/event/types/remove/{{ eventType.id }}" class="btn btn-danger">Zmazať</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script>
        let table = new DataTable('#table_event_types', {
            responsive: true
        });
    </script>
{% endblock %}
