{% extends '../base.twig' %}
{% block content %}
    <div class="card">
        <div class="card-header text-center">
            <h2 class="text-center">Pridať miesto</h2>
        </div>
        <div class="card-body">
            <form action="/admin/places/add" method="post">
                <div class="form-group">
                    <label class="required" for="name">Názov</label>
                    <input class="form-control" id="name" type="text" name="name" required="required">
                </div>
                <div class="form-group">
                    <label class="" for="street">Ulica</label>
                    <input class="form-control" id="street" type="text" name="street" required="required">
                </div>
                <div class="form-group">
                    <label class="" for="number">Popisné číslo</label>
                    <input class="form-control" id="number" type="text" name="number" required="required">
                </div>
                <div class="form-group">
                    <label class="" for="city">Mesto</label>
                    <input class="form-control" id="city" type="text" name="city" required="required">
                </div>
                <div class="form-group">
                    <label class="" for="longitude">Zem. dĺžka</label>
                    <input class="form-control" id="longitude" type="text" name="longitude">
                </div>
                <div class="form-group">
                    <label class="" for="latitude">Zem. šírka</label>
                    <input class="form-control" id="latitude" type="text" name="latitude">
                </div>
                <div class="d-grid gap-2 d-flex justify-content-end">
                    <button class="btn btn-primary mt-2 float-right" type="submit">Uložiť</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
