{% extends '../base.twig' %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
{% endblock %}
{% block content %}
    <h2>Miesta</h2>
    <div class="d-grid gap-2 d-flex justify-content-end">
        <a href="/admin/places/add" type="button" class="btn btn-outline-success float-right">Pridať</a>
    </div>
    <div class="mt-4">
        <table id="table_events" class="display">
            <thead>
            <tr>
                <th>ID</th>
                <th>Názov</th>
                <th>Ulica</th>
                <th>Mesto</th>
                <th>Súradnice</th>
                <th>Akcie</th>
            </tr>
            </thead>
            <tbody>
            {% for place in places %}
                <tr>
                    <td>{{ place.id }}</td>
                    <td>{{ place.name }}</td>
                    <td>{{ place.street }} {{ place.number }}</td>
                    <td>{{ place.city }}</td>
                    <td>{{ place.latitude}} {{ place.longitude}}</td>
                    <td>
                        <a href="/admin/places/edit/{{ place.id }}" class="btn btn-primary">Upraviť</a>
                        <a href="/admin/places/remove/{{ place.id }}" class="btn btn-danger">Zmazať</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script>
        let table = new DataTable('#table_events', {
            responsive: true
        });
    </script>
{% endblock %}
