<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="/client.js" type="module"></script>
    {% block style %}{% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light  justify-content-between">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Podujatia</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Domov</a>
                    </li>
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link" href="/form">Formulár</a>#}
{#                    </li>#}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" href="#"
                           aria-expanded="false">Admin</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/admin/events">Podujatia</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/admin/event/types">Typy podujatí</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/admin/places">Miesta</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Polozky menu v pravej hornej casti -->
                <ul class="navbar-nav ms-auto mr-0">
                    {% if user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i> {{ user.username }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-key"></i> Zmeniť heslo</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/user/logout"><i
                                                class="fa-solid fa-right-from-bracket"></i> Odhlásiť sa</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary" href="/user/login"><i
                                        class="fa-solid fa-right-to-bracket"></i> Prihlásiť sa</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% for message in messages %}
        <div class="alert alert-info mt-2">{{ message }}</div>
    {% endfor %}
    {% for message in errors %}
        <div class="alert alert-danger mt-2">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
{% block scripts %}{% endblock %}
</body>
</html>
