{% extends '../base.twig' %}

{% block content %}
    <h1 class="text-center">Detail</h1>
    <p><i class="fa-sharp fa-solid fa-map-location-dot"></i> Región:
        <strong class="region">{{ event.region }}</strong></p>
    <p><i class="fa-sharp fa-solid fa-location-dot"></i> Miesto konania:
        <strong>{{ event.placeStreet }} {{ event.placeNumber }}, {{ event.placeCity }}</strong></p>
    <p><i class="fa-sharp fa-solid fa-calendar-days"></i> Čas konania:
        <strong class="date">{{ event.date| date('H:i d. m. Y') }}</strong></p>
    <p><i class="fa-sharp fa-solid fa-audio-description"></i> Popis:</p>
    <p>{{ event.description|raw }}</p>
    <hr>
    <h2 class="text-center">Komentáre</h2>
    <div class="">
        <form action="/comments/new" method="post">
            <div class="card mt-2">
                <div class="card-header">Pridať nový príspevok</div>
                <div class="card-body">
                    <input type="hidden" name="eventId" value="{{ event.eventId }}">
                    <div class="form-group">
                        <label for="name">Meno:</label>
                        <input class="form-control" type="text" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="commentar">Komentár</label>
                        <textarea name="message" id="commentar" class="form-control"></textarea>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-success float-end" value="Odoslať">
                </div>
            </div>
        </form>
        {% for comment in comments %}
            <div class="card mt-4">
                <div class="card-header">
                    <div class="float-start">
                        <i class="fa-solid fa-user"></i> {{ comment.name }}
                        &nbsp;<i class="fa-regular fa-clock"></i> {{ comment.created_at | date('d. m. Y H:i') }}
                    </div>
                    <div class="float-end">
                        {# Administrator ma pravo vymazavat prispevky #}
                        {% if 'admin' in user.roles %}
                            <a class="badge bg-danger d-block" href="/comments/delete/{{ comment.id }}/{{ event.eventId }}"><i
                                        class="fa-solid fa-trash"></i></a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <pre>{{ comment.message }}</pre>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
