{% extends '../base.twig' %}
{% block style %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
{#    <div class="card">#}
{#        <div class="card-header text-center">#}
{#            <h1 class="text-center">Filter</h1>#}
{#        </div>#}
{#        <div class="card-body">#}
{#            <form action="" method="post">#}
{#                <div class="form-group">#}
{#                    <label for="type">Typ podujatia</label>#}
{#                    <input class="form-control" id="type" type="text" name="type" value="{{ eventType.type }}"#}
{#                           required="required">#}
{#                </div>#}
{#                <div class="d-grid gap-2 d-flex justify-content-end">#}
{#                    <button class="btn btn-primary mt-2 float-right" type="submit">Filtrovať</button>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
    <hr>
    <h1 class="mt-2">Aktuálne podujatia</h1>
    <div class="d-grid gap-2 d-flex justify-content-end">
        <div class="float-right">
            <label for="sortBy">Zoradiť podľa:</label>
            <select class="form-control select2" name="sortBy" id="sortBy">
                <option value="dateASC" selected="selected">Dátumu konania vzostupne</option>
                <option value="dateDESC" >Dátumu konania zostupne</option>
                <option value="nameAZ">Názvu od A-Z</option>
                <option value="nameZA">Názvu od Z-A</option>
                <option value="regionAZ">Názvu regiónu od A-Z</option>
                <option value="regionZA">Názvu regiónu od Z-A</option>
            </select>
        </div>
    </div>
    <div class="row" id="events">
        {% for event in events %}
            <div class="col-xl-4 col-md-6 col-12 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h6>
                                <span class="eventName">{{ event.eventName }}</span>
                                <span
                                        class="badge {{ random(['bg-danger', 'bg-success', 'bg-primary']) }} small">{{ event.type }}</span>
                            </h6>
                        </div>
                        <hr>
                        <p><i class="fa-sharp fa-solid fa-map-location-dot"></i> Región:
                            <strong class="region">{{ event.region }}</strong></p>
                        <p><i class="fa-sharp fa-solid fa-location-dot"></i> Miesto konania:
                            <strong>{{ event.street }} {{ event.number }}, {{ event.city }}</strong></p>
                        <p><i class="fa-sharp fa-solid fa-calendar-days"></i> Čas konania:
                            <strong class="date">{{ event.date }}</strong></p>
                        <div class="d-grid gap-2 d-flex justify-content-end">
                            <a href="/detail/{{ event.eventId }}" type="button"
                               class="btn btn-outline-success float-right">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2({});
            $('#sortBy').on('select2:select', function (e) {

                let events = document.querySelector('#events');
                [...events.children].sort((a, b) => {
                        if (e.target.value === 'nameZA') {
                            if (a.children[0].children[0].children[0].querySelector('.eventName').innerHTML > b.children[0].children[0].children[0].querySelector('.eventName').innerHTML) {
                                return -1
                            } else {
                                return 1
                            }
                        }
                        if (e.target.value === 'nameAZ') {
                            if (a.children[0].children[0].children[0].querySelector('.eventName').innerHTML < b.children[0].children[0].children[0].querySelector('.eventName').innerHTML) {
                                return -1
                            } else {
                                return 1
                            }
                        }
                        if (e.target.value === 'regionAZ') {
                            if (a.children[0].children[0].querySelector('.region').innerHTML < b.children[0].children[0].querySelector('.region').innerHTML) {
                                return -1
                            } else {
                                return 1
                            }
                        }
                        if (e.target.value === 'regionZA') {
                            if (a.children[0].children[0].querySelector('.region').innerHTML > b.children[0].children[0].querySelector('.region').innerHTML) {
                                return -1
                            } else {
                                return 1
                            }
                        }

                        if (e.target.value === 'dateASC') {
                            let value = (a.children[0].children[0].querySelector('.date').innerHTML).split(' ')
                            let value2 = (b.children[0].children[0].querySelector('.date').innerHTML).split(' ')
                            let pattern = /(\d{2})\.(\d{2})\.(\d{4})/;
                            let dt1 = new Date(value[1].replace(pattern,'$3-$2-$1'));
                            let dt2 = new Date(value2[1].replace(pattern,'$3-$2-$1'));
                            if (dt1 < dt2) {
                                return -1
                            } else {
                                return 1
                            }
                        }
                        if (e.target.value === 'dateDESC') {
                            let value = (a.children[0].children[0].querySelector('.date').innerHTML).split(' ')
                            let value2 = (b.children[0].children[0].querySelector('.date').innerHTML).split(' ')
                            let pattern = /(\d{2})\.(\d{2})\.(\d{4})/;
                            let dt1 = new Date(value[1].replace(pattern,'$3-$2-$1'));
                            let dt2 = new Date(value2[1].replace(pattern,'$3-$2-$1'));
                            if (dt1 > dt2) {
                                return -1
                            } else {
                                return 1
                            }
                        }

                    }
                ).forEach(node => events.appendChild(node));
            });
        })
    </script>
{% endblock %}
